# Postgres
POSTGRES_USER=plappapush
POSTGRES_PASSWORD=change-me
POSTGRES_DB=pushusers
POSTGRES_HOST=database
POSTGRES_PORT=5432

# APNs
KEY_ID=
TEAM_ID=
APP_BUNDLE_ID=me.wehrfritz.plappa
KEYFILE_PATH=/private_key.p8
IS_PRODUCTION=true
